html{
    background: linear-gradient(rgb(101, 101, 230), white);
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
    
}
/* l'entete */
header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, orange, blue);
    color: rgb(235, 137, 99);
    padding-left: 10px;
    padding-right: 10px;
}
header h1{
    font-family: "Arial Black";
    font-size: 30px;
}

/* mise en forme du logo */
header div img{
    margin-top: 10px;
    margin-bottom: 10px;
    background: black;
    width: 50px;
    height: 40px;
    border-radius: 100px;
 }

 @media screen and (max-width:1500px){
    header h1{
        font-size: 15px;
       
    }
    header div img{
        width: 30px;
    }
 }
@media screen and (max-width:300px){
    header {
        margin-left: 3px ;
        margin-right: 3px;
        font-size: 10px;
    }
    html{
        padding: 3px;
    }
}
/* Mise en forme de la barre de navigation */
nav{
    display: flex;
    justify-content:space-around;
    color: white;
    background: linear-gradient(90deg, blue, orange);
    padding: 10px  5px 10px 5px;
}

nav div a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 500px){
    nav div a{
        font-size: 15px;
    }
}
@media screen and (max-width:300px){
    nav div a{
        font-size: 10px;
    }
}

/* Mise en forme du formule de prise de contact */
.section-formulaire{
    margin: auto;
    width: 400px;
    background: linear-gradient(10deg, rgb(221, 188, 127) , rgb(99, 99, 218));
}
.entete-formulaire{
    text-align: center;
    background: linear-gradient(50deg, orange , blue);
    padding-top: 10px ;
    padding-bottom: 10px;
}

.formulaire div{
    display: flex;
    justify-content: space-between;
  

}
.formulaire div p label{
    font-weight: bold;
    font-size: 20px;
  

}
.formulaire div p input, .formulaire div textarea{
    background: linear-gradient(30deg, rgb(152, 152, 226),rgb(139, 119, 81));
    width: 250px;
    height: 30px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;

}
.formulaire sup{
    color: red;
}
#bouton{
    text-align: center;
   padding-bottom: 10px;
}
#bouton input{
    background: linear-gradient(30deg, rgb(152, 152, 226),rgb(139, 119, 81));
    border-radius: 100px;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: blue;
    font-weight: bold;
}
/* Mise en forme du pied de page */
footer{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(90deg, orange, blue);
    color: rgb(235, 137, 99);
    font-size: 1em;
    background-attachment: fixed;
    margin-top: 40px;
    justify-content: space-between;
}

.logo-footer img{
    width: 100px;
    border-radius: 100%;
}

.icone-footer{
    display: flex;
    flex-wrap: wrap;
    height: 20px;
    justify-content: center;
    margin: 30px 10px;
    gap: 50px;   
}
.icone-footer div img{
    width: 50px;
}
 @media screen and (max-width:500px){
    .logo-footer img{
        width: 30px;
        border-radius: 100px;
        padding-left: 10px;
        padding-top: 10px ;
    }
    .icone-footer{
        margin: 10px 10px;
        gap: 10px;
        
    }
    .icone-footer div img{
        width: 20px;
    }
 }

 