/* Mise à jour de la page html */
h3{
    font-size: 200%;
}
/* Mise à jour de l'entete */

header div{
    border-bottom: 5px solid black;
    padding-bottom: 0px ;
}
header div img{
    width: 10%;
    margin-left: 45%;
    margin-bottom: 0px;


     
}
header nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
  
    font-size: 300%;
    padding-top: 1%;
    padding-bottom: 1%;
   background-color: rgb(204, 194, 182);
}

header nav p{
    text-align: center;
    padding-top: 2%;
   
}

 header nav p a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    border: 4px solid;
    padding: 3%;
    border-radius: 30%;
 
 }
 header nav p a:hover{
    text-decoration: none;
    font-weight: bold;
    color: blue;
    border: 4px solid;
    padding: 3%;
    border-radius: 50%;
    background-color: rgb(144, 171, 221);
 }

 /* Mise en forme du corps de page */
 main{
    margin-top: 3%;
    background-color: beige;
 }

 /* Mise en forme des sections de la page */
 section{
    display: flex;
    flex-wrap: wrap;
    
 }

 section div{
    width: 25%;
    font-size: 200%;
 }

 section div img{
    width: 90%;
 }

 section article{
    width: 45%;
    font-size: 200%;
    text-align: justify;
    margin-right: 2%;
 }

 
 section aside{
    width: 25%;
    font-size: 150%;
 }
/* mise en forme du pied de page */
 footer{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   text-align: center;
   background-color: rgb(192, 171, 171);
 }

 @media screen and (min-width:450px) and (max-width:1024px ){
    /* Mise à jour de la page html */
h3{
    font-size: 70%;
}
/* Mise à jour de l'entete */

header div{
    border-bottom: 1px solid black;
    padding-bottom: 0px ;
}
header div img{
    width: 30%;
    margin-left: 35%;
    margin-bottom: 0px;   
}
header nav {
    width: 100%;
    justify-content: space-around;
    font-size: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
   background-color: rgb(204, 194, 182);
}

header nav p{
    text-align: center;
    padding-top: 2%;
   
}
 header nav p a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    border: 4px solid;
    padding: 3%;
    border-radius: 30%;
 
 }
 header nav p a:hover{
    text-decoration: none;
    font-weight: bold;
    color: blue;
    border: 4px solid;
    padding: 3%;
    border-radius: 50%;
    background-color: rgb(144, 171, 221);
 }
 /* Mise en forme du corps de page */
 main{

    background-color: beige;
 }

 /* Mise en forme des sections de la page */
 section{
   display: block;
    
 }
 section div{
    text-align: center;
    font-size: 150%;
 }
 

 section div img{
    width: 400%;
 }

 section article{
    width: 100%;
    font-size: 150%;
    text-align: justify;
    margin-right: 5%;
 }

 
 section aside{
    font-size: 100%;
 }
 footer{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   text-align: center;
   background-color: rgb(141, 136, 129);
 }
 }

 /* Responsivite a un ecran compris entre 450 et 1280 */
 @media screen and (max-width:450px){
    /* Mise à jour de la page html */
h3{
    font-size: 60%;
}
/* Mise à jour de l'entete */

header div{
    border-bottom: 1px solid black;
    padding-bottom: 0px ;
}
header div img{
    width: 20%;
    margin-left: 45%;
    margin-bottom: 0px;   
}
header nav {
    width: 100%;
    justify-content: space-around;
    font-size: 60%;
    padding-top: 1%;
    padding-bottom: 1%;
   background-color: rgb(204, 194, 182);
}

header nav p{
    text-align: center;
    padding-top: 2%;
   
}
 header nav p a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    border: 4px solid;
    padding: 3%;
    border-radius: 30%;
 
 }
 header nav p a:hover{
    text-decoration: none;
    font-weight: bold;
    color: blue;
    border: 4px solid;
    padding: 3%;
    border-radius: 50%;
    background-color: rgb(144, 171, 221);
 }
 /* Mise en forme du corps de page */
 main{

    background-color: beige;
 }

 /* Mise en forme des sections de la page */
 section{
   display: block;
    
 }
 section div{
    text-align: center;
    font-size: 100%;
 }
 

 section div img{
    width: 400%;
 }

 section article{
    width: 100%;
    font-size: 100%;
    text-align: justify;
    margin-right: 2%;
 }

 
 section aside{
    font-size: 150%;
 }
 footer{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   text-align: center;
   background-color: rgb(141, 136, 129);
 }
 }